/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: 700px;
  margin: 0 auto;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--font-weight-text);
  background-image: var(--grid-bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  border: 2px solid #000;
  font-family: var(--font-accent);
  margin: 100px 0;
  padding: clamp(120px, 120px + 0.007512 * (100vw - 375px), 128px) 14px;
  text-transform: uppercase;
}

.header__logo {
  font-size: clamp(49px, 49px + 0.015 * (100vw - 375px), 65px);
}

.header__title {
  font-size: clamp(14px, 14px + 0.00845 * (100vw - 375px), 23px);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title);
}

.card__img {
  max-inline-size: 100%;
  max-block-size: 696px;
  position: relative;
  padding-bottom: 100%;
  display: flex;
  justify-content: flex-end;
  border-block-start: 2px solid var(--color-accent);
  border-block-end: 2px solid var(--color-accent);
  overflow: hidden;
}

.card__img-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__img-title {
  font-family: var(--font-accent);
  font-size: 14px;
  padding: var(--card-padding);
  text-shadow: -1px 0 var(--text-stroke-color),
    0 1px var(--text-stroke-color), 1px 0 var(--text-stroke-color),
    0 -1px var(--text-stroke-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
  .card__img-title {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.bright {
  filter: brightness(1.5);
}

.contrast {
  filter: contrast(150%);
}

.blurred {
  filter: blur(10px);
}

.grayscale {
  filter: grayscale(100%);
}

.saturated {
  filter: saturate(200%);
}

.hue-shift {
  animation: disco 1s linear infinite;
}

.sepia {
  filter: sepia(80%) contrast(120%) brightness(1.1);
}

.inverted {
  filter: invert(100%);
}

.glow {
  text-shadow: 0 0 5px var(--color-accent), 0 0 15px var(--color-accent),
    0 0 30px var(--color-accent), 0 0 60px var(--color-accent);
}

.card__content {
  font-size: var(--card-font-size);
  padding: var(--card-padding);
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 21px;
}

.card__footer {
  padding: 0 var(--card-padding) var(--card-padding)
    var(--card-padding);
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.card__like-button {
  inline-size: 130px;
}

.button {
  background-color: #fff;
  border: 2px solid #000;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  color: #fff;
  translate: -100% 0%;
  transition: translate 0.5s ease-in-out;
}

.button:hover::before {
  translate: 0% 0%;
}

.button:focus,
.button:focus-visible {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-accent);
}

.button__text {
  color: #fff;
  font-size: 14px;
  line-height: 1em;
  font-family: var(--font-accent);
  position: relative;
  mix-blend-mode: difference;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  outline: 0;
  border: 2px solid transparent;
  padding: 0;
}

.icon-button:focus {
  outline: 0;
}

.icon-button:focus-visible {
  border: 2px solid var(--color-accent);
  transition: border 0.3s ease;
}

.like-icon .heart .contour {
  transition: fill 0.1s linear;
}

.like-icon .heart .core {
  fill: none;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .heart .main-body {
  fill: none;
  transition: fill 0.3s linear;
}

.like-icon .sparks {
  fill: var(--animation-fill-color);
  opacity: 0;
}

.icon-button:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.icon-button:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks-in 0.3s 0.3s ease-in;
}

.save-button {
  margin: 50px auto 100px auto;
  padding: 15px 20px;
  gap: 8px;
}

.save-button svg {
  height: 26px;
}

.button svg {
  color: #fff;
  mix-blend-mode: difference;
}

.button use {
  fill: #fff;
}

.save-dialog {
  padding: 30px;
  inline-size: 354px;
}

.save-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.save-dialog__title {
  display: flex;
  gap: 20px;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.save-dialog__text {
  max-inline-size: 234px;
}

.save-dialog__button {
  inline-size: 100%;
  margin-block-start: 30px;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .page {
    inline-size: 100%;
  }

  .card__img {
    max-block-size: 371px;
  }

  .card__img-title {
    font-size: 12px;
  }

  .save-dialog {
    inline-size: 341px;
    padding: 30px 40px;
  }

  .save-dialog__text {
    max-inline-size: 198px;
  }

  .save-dialog__group-with-filter {
    filter: none;
  }

  .save-button {
    margin: 50px auto 100px auto;
    flex-direction: column;
  }

  .save-button svg {
    height: 35px;
  }
}
